files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/20_setup.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash
      docker exec `docker ps -q` bundle exec rake db:migrate
  "/opt/elasticbeanstalk/hooks/appdeploy/post/10_precompile-assets.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash
      docker exec `docker ps -q` bundle exec rake assets:precompile
  "/opt/elasticbeanstalk/hooks/appdeploy/post/40_docker-housekeeping.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash
      # remove all stopped containers
      docker rm $(docker ps -a -q)
      # remove all unused images
      docker rmi $(docker images | grep "^<none>" | tr -s ' ' | cut -d ' ' -f 3)
      exit 0
  "/opt/elasticbeanstalk/hooks/appdeploy/post/30_modify-permissions.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash
      docker exec `docker ps -q` chown -R app:app /home/app/

#container_commands:
#  10_precompile_assets:
#    command: /home/ec2-user/post/precompile-assets.sh
#    leader_only: true
#  20_add_pending_migrations:
#    command: /home/ec2-user/post/setup.sh
#    leader_only: true
#  30_modify_permissions:
#    command: /home/ec2-user/post/modify-permissions.sh
#    leader_only: true
#  40_docker_housekeeping:
#    command: /home/ec2-user/post/docker-housekeeping.sh